*.dll
*.exe
*.tlb
*.bak
*.lib
*.db
*.vcxproj.vspscc
*.vcxproj.user
*.csproj.vspscc
*.csproj.user
*.csproj.CoreCompileInputs.cache
*.csprojAssemblyReference.cache
*.pdb
*.vbproj.user
*.vbproj.vspscc
*.vssscc
!*.DataObjects.dll
!Oracle.DataAccess.dll
!EntityFramework.dll
!EntityFramework.SqlServer.dll
!Oracle.ManagedDataAccess.dll
!Oracle.ManagedDataAccess.EntityFramework.dll
Packages
.vs
sh.exe.stackdump
PublishProfiles

[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak